{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col">
        {% for message in messages %}
        <div class="alert mb-3{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="mb-3 text-center">Discover Star Wars</h4>
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <a href="{% url 'swapi_custom_fetch' resource='people' %}" class="btn btn-primary" role="button"
           aria-pressed="true">people
        </a>
    </div>
    <div class="col">
        <a href="{% url 'swapi_default_fetch' resource='planets' %}" class="btn btn-primary" role="button"
           aria-pressed="true">planets
        </a>
    </div>
    <div class="col">
        <a href="{% url 'swapi_default_fetch' resource='films' %}" class="btn btn-primary" role="button"
           aria-pressed="true">films
        </a>
    </div>
    <div class="col">
        <a href="{% url 'swapi_default_fetch' resource='species' %}" class="btn btn-primary" role="button"
           aria-pressed="true">species
        </a>
    </div>
    <div class="col">
        <a href="{% url 'swapi_default_fetch' resource='vehicles' %}" class="btn btn-primary" role="button"
           aria-pressed="true">vehicles</a>
    </div>
    <div class="col">
        <a href="{% url 'swapi_default_fetch' resource='starships' %}" class="btn btn-primary" role="button"
           aria-pressed="true">starships</a>
    </div>
        <div class="col">
        <a href="{% url 'tripaway_default_fetch' resource='places' %}" class="btn btn-primary" role="button"
           aria-pressed="true">TripAway places</a>
    </div>
</div>
<div class="row pt-5">
    <div class="col">
        <h5>Latest collections:</h5>
    </div>
</div>
<div class="row py-3">
    <div class="col">
        <ul class="list-group list-group-flush">
            {% for collection in collections %}
            <li class="list-group-item">
                <a href="./collection/{{collection.id}}">{{collection.created_at|date:"N d Y H:i a"}}
                    <div class="btn btn-secondary btn-sm">{{collection.api}} {{collection.resource}}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
